@use "_variables" as *;
@font-face {
    font-family: Rubik;
    src: url(../../assets/fonts/static/Rubik-Medium.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    border: none;
}
body{
    font-family: Rubik, sans-serif;
    width: 100vw; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    color: var(--text);
    background: var(--bg) var(--bg-mobile) center / cover no-repeat;
    @media (min-width: 768px) {
        background-image: var(--bg-tablet);
    }
    @media (min-width: 1024px) {
        background-image: var(--bg-desktop);
    }
}
.content {
    overflow: scroll;
}

