@use "_variables" as *;
.bar{
    
    width: 100%;
    height: 1rem;
    background-color: $white;
    border-radius: 10px;
    padding: 4px;
    &__fill{
        width: 60%;
        height: 0.5rem;
        background-color: $purple600;
        border-radius: 10px;
    }
}
