@use "./variables" as *;
.switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 20px;
    @media (min-width: 768px) {
        width: 48px;
        height: 28px;
    }
    & input{
        opacity: 0;
        width: 0;
        height: 0;
    }
}
.slider {
    background-color: $purple600;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;
    &::before{
        background-color: $white;
        position: absolute;
        content: "";
        left: 4px;
        bottom: 4px;
        transition: .4s;
        width: 12px;
        height: 12px;
        @media (min-width: 768px) {
            width: 20px;
            height: 20px;
        }
    }
}
input:checked + .slider{
    background-color: $purple600;
}
input:hover + .slider {
    box-shadow: 0 0 4px $grey500;
}
input:checked + .slider::before{
    transform: translateX(12px);
    @media (min-width: 768px) {
        transform: translateX(20px)
    }
}
.slider.round{
    border-radius: 20px;
    &::before{
        border-radius: 50%;
    }
}
