$white: #FFFFFF;
$filter: rgba(167, 41, 245,0.5);
$black: #000000;
$grey500: #626C7F;
$grey50: #F4F6FA;
$blue950: #2D3949;
$blue900: #313E51;
$blue850: #3B4D66;
$blue500: #3D6AFF;
$blue300: #ABC1E1;
$blue100: #EDF1F9;
$blue50: #EBF0FF;
$green500: #2FD887;
$green100: #E0FDEF;
$purple600: rgb(167, 41, 245);
$purple100: #F6E7FF;
$orange400: #FF7E35;
$orange50: #FFF5ED;
$red500: #EE5454;
$light-theme: (
    bg: $grey50,
    text: $blue900,
    bg-mobile: url(../../assets/images/pattern-background-mobile-light.svg),
    bg-tablet: url(../../assets/images/pattern-background-tablet-light.svg),
    bg-desktop: url(../../assets/images/pattern-background-desktop-light.svg),
    btn-bg: $white,
    btn-shadow: $blue300,
    error: $red500,
    );
$dark-theme: (
    bg: $blue900,
    text: $white,
     bg-mobile: url(../../assets/images/pattern-background-mobile-dark.svg),
    bg-tablet: url(../../assets/images/pattern-background-tablet-dark.svg),
    bg-desktop: url(../../assets/images/pattern-background-desktop-dark.svg),
    btn-bg: $blue850,
    btn-shadow: $blue950,
    error: $grey50,
);
@mixin theme-vars($theme-map) {
    @each $key, $value in $theme-map {
        --#{$key}: #{$value};
    }
}
:root[data-theme="light"] {
    @include theme-vars($light-theme);
}
:root[data-theme="dark"] {
    @include theme-vars($dark-theme);
}
