@use "_basics";
@use  "_toggle";
@use "_variables" as *;
@use "_progresBar";
%flex-display{ 
    display: flex;
    align-items: center;
    justify-content: center
}
.hidden {
    display: none;
}
.content{
    width: 100%;
    max-width: 40rem;
    
    @media (min-width: 1024px) {
        max-width: 73rem;
    }
}
.header{
    @extend %flex-display;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    &__left{
        @extend %flex-display;
        gap: clamp(0.5rem,2vw, 1rem);
    }
    &__right{
        @extend %flex-display;
        gap: clamp(1rem,2vw, 1.5rem);
    }
}
.subject{
    @extend %flex-display;
}
.card{
    @extend %flex-display;
    flex-direction: column;
    gap: clamp(2.5rem, 6vw, 8rem );
    padding: 2rem 1.5rem;
    @media (min-width: 1024px) {
        justify-content: space-between;
        flex-direction: row;
        align-items: start;
    }
    &__item{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    &__h1{
        font-size: clamp(2.5rem,6vw,4rem);
        font-weight: 400;
    }
    &--bold{
            display: block;
            font-weight: 700;
        }
    &--tall{
        font-size: clamp(5.5rem,14vw,9rem);
    }
    &__h2{
        font-size:  clamp(1.25rem, 4vw, 2.25rem);
        line-height: 120%;
    }
    &__p{
        font-size: clamp(0.875rem,1.5vw,1rem);
    }
    &__btn{
        width: 100%;
        padding: 1rem;
        border-radius: 12px;
        text-align: left;
        background-color: var(--btn-bg);
        color: inherit;
        font-size: 1.15rem;
        height: 4.5rem;
        display: flex;
        align-items: center;
        box-shadow: 0 5px 10px var(--btn-shadow);
         @media (min-width: 768px) {
            height: 5.5rem;
        }
         @media (min-width: 1024px) {
            height: 6.5rem;
        }
        &:hover{
            border: 4px solid $purple600;
            
        }
        
        &:active{
            transform: scale(0.99);
        }
        &--answer{
            justify-content: space-between;
            &:hover{
            border: 4px solid $purple600;
            .card__btn-index {
                background-color: $purple600;
                color: $white;
            }
        }
        }
        &--incorrect{
            border-color: $red500;
        }
        &--submit{
            height: 3.5rem;
            background-color: $purple600;
            justify-content: center;
            color: $white;
            @media (min-width: 768px) {
            height: 5.75rem;
            }
            @media (min-width: 1024px) {
                height: 104px
            }
            &:hover{
                background-color: $filter;
                border: none;
            }
        }
    }
    &__btn-index{
        @extend %flex-display;
        width: 40px;
        height: 40px;
        background-color: $blue100;
        border-radius: 6px;
        padding: 10px;
        text-align: center;
        margin-right: 1rem;
        color: $grey500;
        &--orange{
            background-color: $orange50;
        }
        &--green{
            background-color: $grey50;
        }
        &--blue{
            background-color: $blue50;
        }
        &--purple{
            background-color: $purple100;
        }
        &--incorrect{
            background-color: $red500;
        }
        
        @media (min-width: 768px) {
            width: 56px;
            height: 56px;
        }
    }
    &__box{
        @extend %flex-display;
        flex-direction: column;
        gap: 1rem;
        background-color: var(--btn-bg);
        border-radius: 24px;
        padding: 3rem; 
    }
}
.options-box{
    @extend %flex-display;
}
.selected {
    border: 4px solid $purple600;
    .card__btn-index {
            background-color: $purple600;
            color: $white;
    }
}
.correct-btn{
     border: 4px solid $green500;
     .card__btn-index {
            background-color: $green500;
            color: $white;
    }
}
.incorrect-btn{
     border: 4px solid $red500;
     .card__btn-index {
            background-color: $red500;
            color: $white;
    }
}
.error{
    @extend %flex-display;
    color: var(--error);
    font-size: 1.15rem;
}